@font-face {
    font-family: 'Baloo 2';
    src: url('baloo-2/Baloo2-Regular.ttf');
    font-family: 'Baloo 2B';
    src: url('baloo-2/Baloo2-Bold.ttf');
    font-family: 'Baloo 2SB';
    src: url('baloo-2/Baloo2-SemiBold.ttf');
}


h1 {
    font-family: 'Baloo 2';
    font-style: bold;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: var(--tekstas);

}

p {font-family: 'Baloo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    color: var(--tekstas);
}

body { 
    background-image: url('images/1.png');
    background-repeat: repeat;
    background-size: 100%;
    background-position: top left;
    margin: 240px 120px 0px 120px; 
    --tekstas:rgb(79, 50, 56);
    --zalia_0: rgb(208, 205, 108);
    --pink_0: rgb(237, 163, 176);
    --melyna_0: rgb(163, 197, 195);
  
}

#logo {
    display: block;
    margin-top: auto;
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);

}

nav {
    display:flex;
    justify-content:center;
    align-items:center;
    gap: 50px;
    padding: 10px 0;
    white-space: nowrap;

}

.circle_p {
    color: var(--pink_0)
}

.circle_z {
    color: var(--zalia_0)
}

.circle_m {
    color: var(--melyna_0)
}

.mix_nav, .REG, .REG_b{
    font-family: 'Baloo 2';
    font-style: normal;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    color: var(--tekstas);
    
}




.REG{
    position: absolute;
    right:260px;
    top: 120px;

}
.REG_b{
    border: 5px;
    border-radius: 15px;
    background-color: var(--zalia_0);
    width: 120px;
    height: 32px;
    position: absolute;
    right:120px;
    top: 120px;
  }



  .HERO {
    margin-top: 57px;
    background: rgba(244, 240, 240, 0.6); 
    border-radius: 28px; 
    padding-top: 40px; 
    padding-bottom: 80px; 
    padding-left: 88px;
    padding-right: 20px;
    position: flex;
    align-items: center;
    
}
.HERO-text {
    flex: 1;
}
.HERO-image {
   
    flex-shrink: 0;
    position:flex;
    
}

.REG_H,.daugiau {

    font-family: 'Baloo 2';
    font-style: normal;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 34px;
    color: var(--tekstas);
}

.REG_H {
    border: 5px;
    border-radius: 15px;
    background-color: var(--zalia_0);
    width: 174px;
    height: 36px;
    
    
  }

.daugiau {
   
    margin: 40px;
}


  .mix_nav:hover, .REG:hover, .REG_b:hover, .REG_H:hover, .daugiau:hover {
    transform: scale(0.9); 
    transition: transform 0.1s ease;
}


.REG_H, .daugiau {
    margin-top: 200px;
}


.pastraipa {
    font-family: 'Baloo 2SB';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    color: var(--tekstas);
    margin-top: 57px;
    margin-bottom: 57px;
    text-indent: 72px;
}

footer {
  
    background-color: rgba(244, 240, 240); 
    border-top-left-radius: 28px; 
    border-top-right-radius: 28px; 
}

table {
    position: center;
    width: 100%; 
    border-collapse: collapse;
    padding: 10px;
    font-family: 'Baloo 2';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: var(--tekstas);
  }

  table td{
    text-align: center; 
    vertical-align: middle;
  }

  h3 {
    font-family: 'Baloo 2';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 30px;
    color: var(--tekstas);

  }

.video-PK {
    
    position: relative;
    padding-bottom: 56.25%; 
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: rgba(244, 240, 240, 0.6); 
    border-radius: 28px; 
    margin-bottom: 57px;
}

.video-PK iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}
.facts {
    margin-bottom: 57px;
    margin-top: 57px;
    display: flex;
    justify-content: center; 
    align-items: center;
    text-align: center;
    gap: 300px;
    flex-wrap: nowrap; 
}

.tekstas {
    font-family: 'Baloo 2';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 50px;
    color: var(--tekstas);
}
.tekstas, .tekstas_big {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    padding: 20px;
    box-sizing: border-box; 
}

.tekstas_big {
    font-family: 'Baloo 2';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 74px;
    color: var(--tekstas);


}

.wrapped {
    font-family: 'Baloo 2';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 32px;
    color: var(--tekstas);

    margin-top: 10px; 
    display: block; 
    text-align: center;
}